---
import BaseLayout from "../../layouts/BaseLayout.astro";
import ContentPage from "../../components/ContentPage.astro";
import Feature from "../../components/Feature.astro";
---

<BaseLayout title="Dongfang Tianjie">
    <ContentPage
        title="東方天界 Dongfang Tianjie"
        description="Second son of the Dongfang Family"
        backHref="/"
    >
        <h2>Dongfang Tianjie</h2>
        
        <p>
            Trying out these pages for some worldbuilding. Everything's quite under construction.
        </p>

        <Feature
            image={import("../../content/albums/chars/dongfang-tianjie-ref.jpg")}
            alt="Dongfang Tianjie ref sheet"
            title="Reference sheet"
        />


    </ContentPage>
</BaseLayout>
