---
import BaseLayout from "../layouts/BaseLayout.astro";
import CommissionsPage from "../components/CommissionsPage.astro";
import Pill from "../components/Pill.astro"
---

<BaseLayout title="Commissions Information">
    <CommissionsPage>
        <Pill>Commissions Closed</Pill>

        <h2>Prices</h2>

        <p>
        </p>
            All prices are <i>guidelines</i>, they can be more or less depending on complexity of scene, complexity of characters, number of characters, &c.

        <h2>TOS</h2>

        <h3>Content</h3>

        <ul>
            <li>
                Uhh
            </li>
        </ul>

        <h3>Payment and Changes</h3>
        
    </CommissionsPage>
</BaseLayout>
